.dialogs {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.dialogItems {
  padding: 10px;

}

.dialog {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.messages {

}

.message {

}


.active {
  color: gold;
}

.post__thumb img {
  width: 50px;
  border-radius: 25px;
}

.messPost {
  display: grid;
  grid-template-columns: 50%;

  padding-left: 20px;
  padding-bottom: 20px;
  grid-column-start: 2;
}